body {
  margin: 0;
  font-family: -apple-system, "Futura PT", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 100;
  src: local('Futura PT Light'),
  local('Futura-PT-Light'),
  url(/public/fonts/FuturaPTLight.otf) format('otf');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: local('Futura PT Book'),
  local('Futura-PT-Book'),
  url(/assets/fonts/FuturaPTBook.otf) format('otf');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: local('Futura PT Medium'),
  local('Futura-PT-Medium'),
  url(/assets/fonts/FuturaPTMedium.otf) format('otf');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  src: local('Futura PT Demi'),
  local('Futura-PT-Demi'),
  url(/assets/fonts/FuturaPTDemiOblique.otf) format('otf');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: local('Futura PT Bold'),
  local('Futura-PT-Bold'),
  url(/assets/fonts/FuturaPTBold.otf) format('otf');
}


@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 900;
  src: local('Futura PT Heavy'),
  local('Futura-PT-Heavy'),
  url(/assets/fonts/FuturaPTHeavy.otf) format('otf');
}

